@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.border {
    border: 1px solid red;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

nav {
    padding: 10px 17px;
}

.nav_option {
    width: 100%;
}

.navbar_home {
    display: flex;
}

ul {
    display: flex;
    justify-content: right;
    align-items: center;

}


.nav_option ul li {
    margin: 43px 5px 0px;
    list-style: none;
}

.nav_option ul li a {
    color: white;
}

.nav_option ul li a:hover {
    text-decoration: none;
}

.navi_border {
    border-radius: 20px;
    border: solid 1px rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
}

.navi_border:hover{
    background-color: white;
    color: #1d7a8c;
}

.navigation_border a{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px; 
    padding: 5px 20px;  
}

.navigation_border a:hover{
    background-color: white;
    color: #1d7a8c;
    transition: 0.3s;
}

.navigation_border_hover{
    border-radius: 20px; 
    padding: 5px 10px;  
}

.navigation_border_hover:hover{
    border: 1px solid rgba(255, 255, 255, 0.5);
    
}


/* .logo{
    width: 20%;
} */

.logo img {
    width: 175px;
    height: 130px;
}

.burger {
    padding: 0px 10px;
    display: none;
}

/* Side Nav  */

.side-nav {
    height: 100%;
    background-color: white;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.side-nav a {
    display: flex;
    flex-direction: row;
    padding: 5px 20px 5px 10px;
    color: #525252;
}

.side_menu_welcome {
    padding: 10px;
    font-size: 18px;
    color: #525252;
}

.social_media_box {
    padding: 61px 5px 20px;
}

.social_media {
    margin: 0px 5px;
}


#header {
    display: block;
    position: fixed;
    width: 100%;
}

/* Banner Section  */

#banner {
    background-image: url('../images/group-35.png');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

.first_content {
    padding: 200px 5px 5px 50px;
}

.first_content h1 {
    color: white;
    font-size: 50px;
}

.first_content p {
    color: white;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 2px;
}

.book_cleaner {
    padding: 10px 5px;
    display: flex;
    justify-content: center;
}

.book_cleaner a {
    color: white;
    border: 1px solid white;
    padding: 12px 33px 11px 31px;
    opacity: 0.6;
    border-radius: 27px;
    background-color: #006072;
    font-weight: 500;
    transition: 0.3s;
}

.book_cleaner a:hover {
    color: #006072;
    text-decoration: none;
    background-color: white;
}

/* .cleaner_check */

.cleaner_check {
    padding: 25px 0px;
}

.postcode p {
    color: white;
    text-align: center;
    margin: 44px 0px 5px;
}

.postcode img {
    padding: 0px 50px;
}

.step-arrow1 {
    padding: 23px 37px 0px;
}

.arrow_down {
    padding: 10px 48%;
}

.arrow_down img {
    padding: 8px;
    border: 1px solid white;
    border-radius: 50%;
}

.background_transparent {
    background-color: #4f4f4f;
    opacity: 0.5;
}

@media screen and (max-width:1200px) {
    .step-arrow1 {
        display: none;
    }

    .flex-container {
        justify-content: center;
        align-items: center;
    }

    .postcode p {
        margin: 44px 0px 20px;
    }
}

@media screen and (max-width:1180px) {
    .nav_hide {
        display: none;
    }

    .burger {
        display: block;
    }
}


/* Why Helperland  */

.why_helperland {
    background-color:#f4f5f8;
}

.Why-Helperland {
    width: 100%;
    height: 38px;
    margin: 0px auto 90px;
    padding-top: 87px;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    color: #4f4f4f;
}

.why_section{
    padding: 5px 10px;
}

.friendly_img{
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 0 auto;
    display: block;
}

.why_helperland_heading{
    margin: 38px auto 39px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #565656;
    line-height: 1.2;
}

.why_helperland_contain{
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #565656;
}

#why_helperland_2{
    padding: 50px 0px;
}

.group_36 {
    padding: 80px 0 5px;
    width: 80%;
}

@media screen and (max-width:330px) {

    .friendly_img{
        width: 90%;
        height: 90%;
    }
}


/* Blog Box  */

.flex-container-center {
    justify-content: center;
    align-items: center;
}

.Our-Blog {
    width: 100%;
    height: 38px;
    margin: 15px 0px 66px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #4f4f4f;
}


.blog_img {
    width: 90%;
    height: 164px;
    margin: 0 0 20px;
}

.blog_contain_box{
    padding: 10px 5px;
}

.blog_heading {
    height: 19px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    color: #3d4046;
}

.blog_date {
    height: auto;
    font-size: 13px;
    text-align: left;
    color: #a3a3a3;
}

.blog_contain {
    width: 287px;
    font-size: 16px;
    line-height: 1.38;
    text-align: left;
    color: #565656;
}



.Read-the-Post {
    font-size: 16px;
    text-align: left;
    color: #4f4f4f;
}

.arrow_right{
    margin: 0px 5px;
}

.blog_box {
    padding: 10px;
    margin: 20px;
}


/* What our Customer Say  */

.What-Our-Customers-Say {
    width: 100%;
    padding-top: 65px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #4f4f4f;
}


.customer_say_box{
    background-color: white;
    width: 357px;
    margin: 10px 20px;
    padding: 10px 30px;
    border-left: 3px solid #1d7a8c;
}

.message_img{
    float: right;
    margin: 5px 10px 5px 0px;
}

.logo_img{
    clear: both;
    float: left;
    margin: -10px 15px 5px 0px;
}

.logo_name{
    font-size: 20px;
    font-weight: bold;
    color: #4f4f4f;
    line-height: 1.2;  
    margin-bottom: 1px;    
}

.logo_city{
    font-size: 14px;
    color: #8e8e8e;
}

.customer_say_contain{
    font-size: 16px;
    color: #8e8e8e;
    clear: both;
    margin: 40px 0px 15px;
    font-weight: 500;
}


.blog_left_img {
    position: absolute;
    top: 0;
}

.blog_right_img {
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width:1100px) {

    .blog_left_img,
    .blog_right_img {
        display: none;
    }
}

@media screen and (max-width: 455px) {
    .blog_box {
        padding: 0;
        margin: 10px;
    }

    .Group-28 {
        width: 90%
    }
}



/* Enter your email */

.arrow-up-box {
    width: 48px;
    height: 48px;
    margin: 57px 83px 76px 70px;
    padding: 8px 14px 20px;
    background-color: #525252;
    border-radius: 50%;
}


.arrow-up-box:hover{
    background-color: #1d7a8c;
}

.Forma-arrow {
    width: 20px;
    height: 10px;
    color: white;
}

.GET-OUR-NEWSLETTER {
    width: 100%;
    margin: 2px auto 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 0.2;
    text-align: center;
    color: #353548;
}

.form-box{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.email_box {
    width: 100%;
    margin: 10px auto;
}


.email_input{
    background: transparent;
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid #565656;
}

.submit_hiw {
    background-color: #ff7b6d;
    border-radius: 20px;
    color: white;
    padding: 5px 15px;
    border: none;
    margin: 0px 5px;
}

.clock {
    padding-right: 70px;
    margin: 20px 0px;
}

.clock img {
    width: 48px;
    height: 48px;
}

@media screen and (max-width: 1460px) {

    .email_hiw {
        margin-bottom: 5px;
    }

    .flex-resp{
        flex-direction: column;
    }

    .clock{
        padding: 0;
    }

    .submit_hiw{
        margin-top: 5px;
    }
}



/* Footer  */

footer {
    background-color: black;
    width: 100%;
}

.footer_size {
    /* margin-top: 30px; */
    width: 100%;
}

.white_logo_transparent_background-copy-4 {
    padding: 37px 15px 20px 122px;
}

.footer_option {
    justify-content: center;
    text-align: center;
}


.footer_option a {
    text-decoration: none;
    color: white;
    padding: 65px auto 20px;
    margin: 10px;
}

.footer_option a:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.footer_option_box {
    padding: 65px 0px 20px;
}

.social_media_box {
    padding: 61px 5px 20px;
}

.social_media {
    margin: 5px;
}

.privacy_policy {
    width: 100%;
    height: auto;
    opacity: 0.8;
    background-color: #292929;
    position: relative;   
}

.privacy_policy p{
    color: #9ba0a3;
    font-size: 14px;
    text-align: center;
    padding: 20px;
    margin-bottom: 0px;
}

.ok{
    background-color: yellow;
    color: black;
    padding: 5px 30px;
    border-radius: 20px;
    border: none;
    position: absolute;
    right: 5px;
    top: 15px;
}

@media screen and (max-width:1110px) {
    .flex_footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .white_logo_transparent_background-copy-4 {
        padding: 28px 2px 9px 3px;
    }
}


@media screen and (max-width:620px) {
    .ok{
        top: 50px;
    }

    .privacy_policy{
        padding-bottom: 40px;
    }
    
}

/* Modal Section Login */

.bg-modal{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 10;
}

.modal_login{
    background-color: white;
    width: 22%;
    padding: 10px 20px;
    position: relative;
}

.login{
    font-size: 22px;
    font-weight: bold;
    color: #6d6c6c;
    margin-bottom: 25px;
}

.email_login{
    position: relative;
    margin: 10px 0px;
}

.email_login input{
    padding: 5px;
    width: 100%;
    border: 1px solid #8e8e8e;
}

.email_login i{
    position: absolute;
    font-size: 20px;
    top: 8px;
    right: 15px;
    color: #8e8e8e;
}

.login_btn{
    width: 100%;
    background-color: #1d7a8c;
    opacity: 0.8;
    border-radius: 20px;
    padding: 5px 10px;
    color: white;
}

.remember_me label{
    color: #8e8e8e;
    font-size: 16px;
}

.no_account{
    padding: 20px 0px;
}

.no_account p{
    text-align: center;
    width: 100%;
    margin-bottom: 1px;
}

.no_account p a{
    color: #1d7a8c;
    font-weight: 500;
    cursor: pointer;
}

.modal_close{
    position: absolute;
    top: 0px;
    right: 14px;
    transform: rotate(45deg);
    font-size: 42px;
    cursor: pointer;
}

/* Modal Section Forgot Password */

.bg-modal-fp{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 10;
}

.modal_fp{
    background-color: white;
    width: 22%;
    padding: 10px 20px;
    position: relative;
}

/* Modal Sectiion Create an account  */

.bg-modal-create{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 10;
}

.modal-create{
    background-color: white;
    width: 35%;
    padding: 10px 20px;
    position: relative;
}

label span{
    color: #1d7a8c;
}

.register_account{
    width: 100%;
    display: flex;
    justify-content: center;
}

.register_account button{
    background-color: #1d7a8c;
    opacity: 0.8;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 7px 30px;
    border: none;
}

.already_reg{
    margin: 20px 0px;
    width: 100%;
}

.already_reg p{
    text-align: center;
}

.already_reg p a{
    color: #1d7a8c;
    cursor: pointer;
}

.star_side_line {
    width: 62px;
    height: 1px;
    margin: 26px auto 48px;
    background-color: #ccc;
    display: inline-block;
}

/* Become a Helper Modal Section  */

.bg-modal-become-helper{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 10;
    /* overflow-y: initial !important */
}

.modal-become-helper{
    background-color: white;
    width: 25%;
    padding: 10px 20px;
    position: relative;
    /* height: 70vh; */
    /* overflow-y: auto;    */
}

.getting_started{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px 30px 0px;
}

.getting_started button{
    background-color: #1d7a8c;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
}

.getting_started img{
    margin: 5px 0px 5px 20px;
}


@media screen and (max-height: 600px) {
    .bg-modal-become-helper,.bg-modal,.bg-modal-create,.bg-modal-fp{
        overflow-y: initial !important
    }

    .modal-become-helper, .modal_login, .modal-create, .modal_fp {
        height: 60vh;
        overflow-y: auto;   
    }  
}

@media screen and (max-width:1100px) {
    .modal-become-helper,.modal_login, .modal-create, .modal_fp{
        width: 50%;
    }
}

@media screen and (max-width:700px) {
    .modal-become-helper, .modal_login,.modal-create, .modal_fp{
        width: 80%;
    }
}



.Rectangle-5-copy-5 {
    width: 62px;
    height: 1px;
    margin: 26px auto 48px;
    background-color: #ccc;
    display: inline-block;
}

.separator_img {
    width: 24px;
    height: 25px;
    margin: -54px 12px 37px 14px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.Rectangle-5-copy-6 {
    width: 62px;
    height: 1px;
    margin: 26px auto 49px auto;
    background-color: #ccc;
    display: inline-block;
}

/* Service Provider > Become a provider/Helper  */

.banner_section {
    background-image: url('../images/group-19.png');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    padding: 130px 0px 10px;
}

.Register_Now_Box {
    width: 37%;
    height: auto;
    margin: auto;
    padding: 24px 26px 19px 15px;
    border-radius: 4px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
}

.Register-Now {
    width: 100%;
    margin: 0 auto 25px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #4f4f4f;
}

.form {
    margin: 10px;
}

.form_checkbox {
    margin: 5px 5px 5px 15px;
    font-size: 15px;
}

.get_started {
    margin: 0px auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.get_started_btn {
    border-radius: 20px;
    background-color: #1d7a8c;
    color: white;
    padding: 5px 20px;
}

.Shape-1 {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
    margin: 30px auto;
}

.arrow_down {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* How it Works */

.How-it-works {
    width: 100%;
    margin: 68px auto 73px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #4f4f4f;
}

.hiw_para_heading {
    width: 252px;
    margin: 74px 29px 20px 218px;
    font-size: 30px;
    font-weight: 500;
    color: #4f4f4f;
}

.hiw_para {
    width: 330px;
    margin: 13px 57px 48px 218px;
    font-size: 18px;
    font-weight: 300;
    color: #4f4f4f;
}

.Read_more {
    width: 91px;
    margin: 48px 10px 53px 220px;
    font-size: 18px;
    font-weight: 300;
    color: #4f4f4f;
}

.order_1 {
    order: 1;
}

.order_2 {
    order: 2;
}

.shape_2 {
    width: 29px;
    height: 9px;
    margin: -15px 54px 53px 99px;
    display: inline-block;
}

.hiw_img {
    width: 260px;
    height: 260px;
    margin: 27px 11px 20px 72px;
}

.hiw_para_heading_2 {
    width: 100%;
    margin: 85px 277px 16px 24px;
    font-size: 30px;
    font-weight: bold;
    color: #4f4f4f;
}

.hiw_para_2 {
    width: 362px;
    margin: 16px 191px 48px 24px;
    font-size: 18px;
    font-weight: 300;
    color: #4f4f4f;
}

.Read_more_2 {
    width: 111px;
    margin: 48px 10px 79px 26px;
    font-size: 18px;
    font-weight: 300;
    color: #4f4f4f;
}

.hiw_img_2 {
    width: 260px;
    height: 260px;
    margin: 48px 3px 20px 189px;
}

.blog_left {
    position: absolute;
    top: 0;
    left: 0;
}

.blog_right {
    position: absolute;
    top: 0;
    right: 0;
}

.GET-OUR-NEWSLETTER1 {
    width: 100%;
    margin: 77px auto 20px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #353548;
}

.email_form_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.email_about {
    border-radius: 20px;
    background-color: #f4f5f8;
    padding: 5px 10px;
    border: 1px solid #565656;
}

.submit_hiw {
    background-color: #ff7b6d;
    border-radius: 20px;
    color: white;
    padding: 5px 15px;
    border: none;
    margin: 5px;
}




@media screen and (max-width: 1000px) {

    .hiw_para_heading {
        width: 100%;
        margin: 74px auto 16px;
        text-align: center;
    }

    .hiw_para {
        width: 100%;
        margin: 13px auto 48px;
        text-align: center;
    }

    .Read_more {
        width: 100%;
        margin: 48px auto 53px;
        text-align: center;
    }

    .shape_2 {
        width: 29px;
        height: 9px;
        margin: 5px 54px 6px 11px;
    }

    .hiw_img_2,
    .hiw_img {
        width: 260px;
        height: 260px;
        margin: 48px auto 20px;
        display: flex;
        justify-content: center;
    }

    .hiw_para_heading_2 {
        width: 100%;
        margin: 74px auto 16px;
        text-align: center;
    }

    .hiw_para_2 {
        width: 100%;
        margin: 13px auto 48px;
        text-align: center;
    }

    .Read_more_2 {
        width: 100%;
        margin: -33px auto 53px;
        text-align: center;
    }

    .order_1 {
        order: 2;
    }

    .order_2 {
        order: 1;
    }

    .email_hiw {
        margin-bottom: 5px;
    }

    .white_logo_transparent_background-copy-4,
    .social_media_box {
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 900px) {
    .Register_Now_Box {
        width: 80%;
        padding: 24px 37px 19px 4px;
    }

    .blog_left,
    .blog_right {
        display: none;
    }

}